@model cumulative1http5125.Models.Students


@{
    ViewBag.Title = "Show";
}

<h2>@Model.studentfname @Model.studentlname</h2>
<p><b>Student Number: </b>@Model.studentnumber</p>
<p><b>Enrol Date: </b>@Model.enroldate</p>

