@model cumulative1http5125.Models.Classes


@{
    ViewBag.Title = "Show";
}

<h2>@Model.classname </h2>
<p><b>Class Code:</b> @Model.classcode</p>
<p><b>Start Date:</b>@Model.stardate</p>
<p><b>Finish Date:</b>@Model.finishdate</p>


